// Declare the "Newton" font
@import url(//db.onlinewebfonts.com/c/d14e0c8f6d81412b7b53da569482a010?family=Newton+Web);
@font-face {font-family: "Newton Web"; src: url("//db.onlinewebfonts.com/t/d14e0c8f6d81412b7b53da569482a010.eot"); src: url("//db.onlinewebfonts.com/t/d14e0c8f6d81412b7b53da569482a010.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/d14e0c8f6d81412b7b53da569482a010.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/d14e0c8f6d81412b7b53da569482a010.woff") format("woff"), url("//db.onlinewebfonts.com/t/d14e0c8f6d81412b7b53da569482a010.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/d14e0c8f6d81412b7b53da569482a010.svg#Newton Web") format("svg"); }

#main-text, .footer {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Helvetica, Arial, lucida_sans_unicoderegular, coolveticaregular;
	background-color: #FFFFEA;
}

#main-text {
	margin: auto;
	padding-right: 1em;
	padding-left: 1em;
	max-width: 60em; 
}

#topbar {
	font-family: "Newton Web", "Times New Roman", times;
	background-color: #121212;
	color: #FFFFEA;
	text-align: center;
}

a.topbar_links {
	color: #FFFFEA;
}

a.topbar_links:hover {
	color: #5B92E5;
} 

h1.st {
	padding: 8px;
	font-style: bold;
	text-transform: uppercase;
}

p.fortune {
	color: #5B92E5;
}

.tabulas {
	display: flexbox;
}

.footer {
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: white;
	color: black;
	border: 1px solid black;
	text-align: right;
}

img.footer_badge {
	width: 88px;
	height: 33px;
	margin-left: 5px;
}
